{% extends "admincore.html" %}
{% block body  %}
<form action="" method="post" novalidate>
    {%csrf_token%}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
     {{error}} 
     {% endfor %}
      {%endif%}
       {% for fm in form %} 
       {{fm.label_tag}} 
       {{fm}} 
       {{fm.errors|striptags}} <br>
  {% endfor %}
  <input type="submit" value="SAVE">
</form>
<a href ="{% url 'adminprofile'%}"> ADMINPROFILE</a>
<a href ="{% url 'adminlogout'%}">LOGOUT</a>

{% endblock body  %}