<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/1st.png" class="d-block w-100" style="height: 450px;"  alt="...">
        <div class="carousel-caption d-none d-md-block">

        </div>
        </div>
        <div class="carousel-item">
              <img src="/static/images/2nd.png" class="d-block w-100" style="height: 450px;" alt="...">

              <div class="carousel-caption text-left">
             <h6 class="font-weight-bold" style="color: blue; font-size: 2em;">"Cutting-Edge Research"</h5>
              <p style="color: white; font-size: 1.5em;">Explore our biolab's latest<br>
                 breakthroughs in cutting-edge research,<br>
                  pushing the boundaries of biological<br>
                   science and innovation.</p>
            
        </div>
        </div>
        <div class="carousel-item">
        <img src="/static/images/3rd.png" class="d-block w-100" style="height: 450px;" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h7 class="font-weight-bold" style="color: blue; font-size: 1.5em;">"Cutting-Edge Diagnostics"</h5>
            <p style="color:black; font-size: 1em;">Experience the latest in <br>
              diagnostic technology, providing <br>accurate and timely results<br> for informed healthcare decisions.</p>
        </div>
        </div>
        <div class="carousel-item">
          <img src="/static/images/4th.png" class="d-block w-100" style="height: 450px; "alt="...">
          <div class="carousel-caption d-none d-md-block">
              <h7 class="font-weight-bold" style="color: blue; font-size: 1.5em;">"Expert Medical Consultations"</h5>
              <p style="color:black; font-size: 1em;">Connect with our team<br> of experienced healthcare professionals<br>
                 for personalized consultations, <br>guiding you on your journey<br> to optimal health.</p>
          </div>
          </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
