/* Custom CSS for spacing */
.navbar {
  background-color: #73a7c6 !important; /* Changing the background color */
}
.navbar .dropdown-menu {
  background-color: #73a7c6 !important;
}
.navbar-inquiry {
  font-size: 1.1rem; /* Increasing the font size */
  margin-left: 30px;
}
.btn-Login {
  justify-content: center;
  background-color: #1e62d8 !important;
  border: none;
  border-radius: 8px; /* Adjust the border-radius to your preference */
  cursor: pointer;
  padding: 8px 16px; /* Adjust the padding to reduce the size */
  font-size: 14px; /* Adjust the font size */
  margin-left: 300px;
  font-weight: bold; /* Adjust the margin */
}

.navbar-brand {
  color: #8a3030;
  font-weight: bold;
  font-size: 2rem; /* Increasing the font size */
  margin-left: 30px;
  margin-right: 100px; /* Adjust the margin value as needed */
}
/* Adjusting the width of the search input */
.form-control {
  width: 350px; /* Change the width as per your requirement */
}
